In [1]:
import numpy as np
import pandas as pd
import scipy.sparse
from scipy import io

In [9]:
user_detail = pd.read_csv('../user_detail.csv')
user_detail = user_detail.drop(user_detail.columns[0], axis=1)[:10000]

In [11]:
user_detail.to_pickle('df_user_to_sql')

In [3]:
df_user = pd.read_csv('../../yelp_data/user1.csv', usecols=[15, 18, 19, 21, 22])

In [4]:
user_detail.values[:, 1:-1].astype(np.float64).dump('u_d_spm2')

In [5]:
# io.mmwrite('u_d_spm', u_d_spm)

In [6]:
df = pd.merge(user_detail[['user_id', 'city']], df_user, how='inner', on='user_id')
df.values.dump('u_d2')

In [7]:
df.head()

                  user_id       city  fans    name  review_count  useful
0  ---1lKK3aKOuomHnwAkAow  Las Vegas    14  Monera           244      67
1  ---cu1hq55BP9DWVXXKHZg    Phoenix     0     Jeb            55      32
2  --1mPJZdSY9KluaBYAGboQ  Las Vegas     0   Bryan             5       0
3  --2bpE5vyR-2hAP7sZZ4lA  Las Vegas     0    Gary            22       0
4  --2vR0DIsmQ6WfcSzKWigw  Las Vegas   290  Harald          1089  105322

In [8]:
df.to_pickle('df_user_for_sql')

In [32]:
np.array(['user_id', 'city', 'fans', 'name', 'review_count', 'useful']).dump('u_d_title')